.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# ignore some test folders
vignettes/rnaseq
vignettes/varseq
vignettes/chipseq
vignettes/riboseq

tests/data2
tests/param
tests/results
tests/results
tests/testthat/test.Rmd
