## IMPORTS
import("GenomicRanges")
importFrom("annotate", "Ontology")
importFrom("annotate", "Term")
importFrom("assertthat", "assert_that")
importFrom("assertthat", "is.count")
importFrom("assertthat", "is.writeable")
importFrom("assertthat", "not_empty")
importFrom("batchtools", "batchMap")
importFrom("batchtools", "chunk")
importFrom("batchtools", "makeRegistry")
importFrom("batchtools", "submitJobs")
importFrom("BiocGenerics", "end<-") 
importFrom("BiocGenerics", "start<-") 
importFrom("BiocGenerics", "strand<-") 
importFrom("BiocGenerics", "width") 
importFrom("BiocGenerics", "width<-") 
importFrom("Biostrings", "alphabetFrequency")
importFrom("Biostrings", "codons")
importFrom("Biostrings", "DNAStringSet")
importFrom("Biostrings", "PhredQuality")
importFrom("Biostrings", "quality")
importFrom("Biostrings", "reverse")
importFrom("Biostrings", "reverseComplement")
importFrom("Biostrings", "tail")
importFrom("Biostrings", "unstrsplit")
importFrom("Biostrings", "Views")
importFrom("DOT", "dot")
importFrom("edgeR", "calcNormFactors")
importFrom("edgeR", "DGEList")
importFrom("edgeR", "estimateGLMCommonDisp")
importFrom("edgeR", "estimateGLMTagwiseDisp")
importFrom("edgeR", "estimateGLMTrendedDisp")
importFrom("edgeR", "glmFit")
importFrom("edgeR", "glmLRT")
importFrom("edgeR", "topTags")
importFrom("GenomeInfoDb", "seqinfo<-")
importFrom("GenomeInfoDb", "seqlengths<-")
importFrom("GenomicFeatures", "cdsBy")
importFrom("GenomicFeatures", "exonsBy")
importFrom("GenomicFeatures", "fiveUTRsByTranscript")
importFrom("GenomicFeatures", "genes")
importFrom("GenomicFeatures", "intronsByTranscript")
importFrom("GenomicFeatures", "makeTxDbFromGFF")
importFrom("GenomicFeatures", "threeUTRsByTranscript")
importFrom("GenomicFeatures", "transcripts")
importFrom("GenomicFeatures", "transcriptsBy")
importFrom("ggplot2", "aes")
importFrom("ggplot2", "coord_flip")
importFrom("ggplot2", "element_text")
importFrom("ggplot2", "facet_wrap")
importFrom("ggplot2", "geom_bar")
importFrom("ggplot2", "geom_boxplot")
importFrom("ggplot2", "geom_line")
importFrom("ggplot2", "ggplot")
importFrom("ggplot2", "ggtitle")
importFrom("ggplot2", "labs")
importFrom("ggplot2", "scale_x_discrete")
importFrom("ggplot2", "scale_y_continuous")
importFrom("ggplot2", "theme")
importFrom("ggplot2", "unit")
importFrom("ggplot2", "xlab")
importFrom("ggplot2", "ylab")
importFrom("ggplot2", "ylim")
importFrom("graphics", "boxplot")
importFrom("graphics", "close.screen")
importFrom("graphics", "screen")
importFrom("graphics", "split.screen")
importFrom("graphics", "symbols")
importFrom("graphics", "text")
importFrom("grDevices", "dev.off")
importFrom("grDevices", "pdf")
importFrom("grid", "grid.layout")
importFrom("grid", "grid.newpage")
importFrom("grid", "pushViewport")
importFrom("grid", "viewport")
importFrom("IRanges", "IRanges")
importFrom("IRanges", "subsetByOverlaps")
importFrom("limma", "makeContrasts")
importFrom("limma", "plotMDS")
importFrom("magrittr", "%>%")
importFrom("methods", "as")
importFrom("methods", "is")
importFrom("methods", "new")
importFrom("methods", "show")
importFrom("methods", "slot")
importFrom("methods", "slotNames")
importFrom("rjson", "toJSON")
importFrom("Rsamtools", "asBam")
importFrom("Rsamtools", "BamFile")
importFrom("Rsamtools", "BamFileList")
importFrom("Rsamtools", "countBam")
importFrom("Rsamtools", "indexBam")
importFrom("Rsamtools", "mergeBam")
importFrom("Rsamtools", "scanBamFlag")
importFrom("Rsamtools", "ScanBamParam")
importFrom("Rsamtools", "scanBamWhat")
importFrom("Rsamtools", "sortBam")
importFrom("rsvg", "rsvg_png")
importFrom("rsvg", "rsvg_svg")
importFrom("S4Vectors", "DataFrame")
importFrom("S4Vectors", "elementMetadata<-")
importFrom("S4Vectors", "first")
importFrom("S4Vectors", "mcols<-")
importFrom("S4Vectors", "Rle")
importFrom("S4Vectors", "SimpleList")
importFrom("ShortRead", "countLines")
importFrom("ShortRead", "FastqSampler")
importFrom("ShortRead", "FastqStreamer")
importFrom("ShortRead", "id")
importFrom("ShortRead", "qa")
importFrom("ShortRead", "readFastq")
importFrom("ShortRead", "sread")
importFrom("ShortRead", "writeFastq")
importFrom("ShortRead", "yield")
importFrom("stats", "aggregate")
importFrom("stats", "model.matrix")
importFrom("stats", "na.omit")
importFrom("stats", "phyper")
importFrom("stats", "setNames")
importFrom("stringr", "str_extract")
importFrom("stringr", "str_remove_all")
importFrom("stringr", "str_remove")
importFrom("stringr", "str_replace_all")
importFrom("stringr", "str_replace")
importFrom("stringr", "str_split")
importFrom("stringr", "str_which")
importFrom("SummarizedExperiment", "assay")
importFrom("SummarizedExperiment", "assayNames")
importFrom("SummarizedExperiment", "assays")
importFrom("SummarizedExperiment", "assays<-")
importFrom("SummarizedExperiment", "metadata<-")
importFrom("SummarizedExperiment", "rowRanges")
importFrom("SummarizedExperiment", "SummarizedExperiment")
importFrom("utils", "capture.output")
importFrom("utils", "combn")
importFrom("utils", "head")
importFrom("utils", "packageVersion")
importFrom("utils", "read.delim")
importFrom("utils", "write.table")
importFrom("VariantAnnotation", "AllVariants")
importFrom("VariantAnnotation", "alt")
importFrom("VariantAnnotation", "altDepth")
importFrom("VariantAnnotation", "altDepth<-")
importFrom("VariantAnnotation", "asVCF")
importFrom("VariantAnnotation", "locateVariants")
importFrom("VariantAnnotation", "predictCoding")
importFrom("VariantAnnotation", "readVcf")
importFrom("VariantAnnotation", "refDepth")
importFrom("VariantAnnotation", "refDepth<-")
importFrom("VariantAnnotation", "reference")
importFrom("VariantAnnotation", "totalDepth")
importFrom("VariantAnnotation", "totalDepth<-")
importFrom("VariantAnnotation", "writeVcf")
importFrom("yaml", "as.yaml")
importFrom("yaml", "read_yaml")
importFrom("yaml", "write_yaml")
importFrom("yaml", "yaml.load")

## S4 Classes
exportClasses(
    "SYSargs", "catDB", "VENNset", "INTERSECTset", "SYSargs2", "SYSargsList"
)

## Methods
exportMethods(
    "targetsin", "targetsout", "targetsheader", "modules", "software", "cores", 
    "other", "reference", "results", "infile1", "infile2", "outfile1", "SampleName", 
    "sysargs", "outpaths", "show", "names", "length", "[", "catmap", "catlist", "idconv",
    "setlist", "intersectmatrix", "complexitylevels", "vennlist", "intersectlist",
    "as.list", "[[", "[[<-", "$", "clt", "cmdlist", "cwlfiles", "input", "inputvars", "output",
    "sysargs2", "targets", "wf", "yamlinput", "sysconfig", "codeSteps", "stepsWF", "dataWF",
    "SYSargs2_steps", "statusWF", "projectWF", "sysargslist"
)

## Functions
# exportPattern("^[[:alpha:]]+")
export(
    ## Data sets
    ## Import/exports
    "readComp", "writeTargetsout", "writeTargetsRef", "mergeBamByFactor",
    ## Utilities
    "alignStats", "getQsubargs", "qsubRun", "clusterRun", "returnRPKM", 
    "runCommandline", "systemArgs", "symLink2bam", "moduleload", 
    "modulelist", "moduleAvail", "moduleClear", "moduleInit", "moduleUnload", 
    "module", "run_edgeR", "run_DESeq2", "filterDEGs", "seeFastq", "seeFastqPlot",
    "GOHyperGAll", "GOHyperGAll_Subset", "GOHyperGAll_Simplify", "GOCluster_Report",
    "makeCATdb", "goBarplot", "overLapper", "vennPlot", "olBarplot",
    "preprocessReads", "filterVars", "variantReport", "combineVarReports", 
    "varSummary", "countRangeset", "runDiff", "genFeatures", "featuretypeCounts", 
    "plotfeaturetypeCounts", "featureCoverage", "plotfeatureCoverage", "predORF",
    "scaleRanges", "loadWorkflow", "loadWF", "renderWF", "subsetWF", "output_update", 
    "targets.as.df", "olRanges", "createWF", "evalCode", "tryPath",
    "tryCL", "SYSproject", "initProject", "initWF", "configWF", "config.param", 
    "plotWF", "runWF", "renderReport", "showDT", "check.output"
)  
